PORT=8971
PUBLIC_ORIGIN=https://bike.hub.tt2.li
COOKIE_SECRET=
WATCHA_CLIENT_ID=1p9Mcr+CNLPAMFC0
WATCHA_CLIENT_SECRET=
WATCHA_REDIRECT_URI=https://bike.hub.tt2.li/api/auth/callback
WATCHA_SCOPES=read
DAILY_TOKEN_CAP=3600
